<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NoticeDB</title>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a { text-decoration: none; color: inherit; }
    </style>
</head>

<body>
    <div style="margin: 30px;">
        <table class="table table-hover table-bordered" style="table-layout: fixed;">
            <thead class="thead-light">
                <tr>
                    <th>Receive User</th>
                    <th>Send User</th>
                    <th>Tweet ID</th>
                    <th>Datetime</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in notices %}
                <tr>
                    <td class="text-truncate">
                        <a href="https://twitter.com/{{ notice['receiver']['screen_name'] }}" target="_blank">
                            {{ notice['receiver']['name'] }}
                        </a>
                    </td>
                    <td class="text-truncate">
                        <a href="https://twitter.com/{{ notice['sender']['screen_name'] }}" target="_blank">
                            {{ notice['sender']['name'] }}
                        </a>
                    </td>
                    <td class="text-truncate">
                        <a href="https://twitter.com/{{ notice['receiver']['screen_name'] }}/status/{{ notice['tweet_id'] }}" target="_blank">
                            {{ notice['tweet_id'] }}
                        </a>
                    </td>
                    <td class="text-truncate">
                        {{ notice['datetime'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
